:root {
    --violet: hsl(257, 40%, 49%);
    --white: hsl(0, 0%, 100%);
}


/* font-family: 'Open Sans', sans-serif; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-color: var(--violet);
    text-align: center;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo {
    width: 8rem;
    padding: 2em 0;
}

header {
    text-align: left;
}

.wrapper {
    padding: 0 2.25rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    margin-top: 2em;
}

.hero img {
    max-width: 100%;
}

.u-title {
    font-weight: 400;
    margin-top: 2.5em;
}

.u-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.0625em;
}

.u-button {
    color: var(--violet);
    background: var(--white);
    padding: 1em 6em;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 8px 10px -5px rgb(0, 0, 0);
}

.footer {
    margin-top: 2em;
    padding-bottom: 2em;
}

.footer ul {
    list-style: none;
    padding: 1.5em 0;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    /* border: 1px solid red; */
    justify-content: center;
    grid-column-gap: 1em;
}

.footer ul li {
    display: grid;
    align-items: center;
    /* border: 1px solid pink; */
    justify-content: center;
    /* padding: 2em 0; */
}

.footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: .5em;
}

@media screen and (min-width:1024px) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    .hero-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        grid-column-gap: 3em;
    }
    .hero-content {
        border: 1px solid red;
    }
    .u-title,
    .u-paragraph {
        max-width: 470px;
    }
    .u-paragraph {
        margin-top: 0;
    }
    .u-title {
        font-size: 2.3em;
        margin-top: 0;
    }
    .footer {
        margin-top: 0;
    }
    .footer ul {
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    .u-button {
        padding: 1em 4em;
        font-size: 1em;
        margin: 0;
    }
}